html{
    background-color: royalblue;
}
.big{
    background-color: plum;
    /*height: 60vh;*/
    border-bottom: 2vw solid plum;
}
h1{
    text-align: center;
    font-weight: normal;
    font-size: 26px;
}
.big>input, .small{
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    height: 30px;
    font-size: 20px;
    padding-left: 2vw;
}
li{
    list-style-type: none;
}
.small{
    background-color: peachpuff;
}
select{
    width: 60%;
}
#xinzeng{
    width: 40%;
    height: 30px;
    background-color: yellow;
    display: inline-block;
    margin-left: 30%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 2vw;
}
section{
    width: 40%;
    height: 40px;
    margin-left: 30%;
    margin-bottom: 30px;
    font-size: 14px;
}
span{
    background-color: yellow;
    display: inline-block;
    width: 45%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: purple;
}
span:nth-of-type(2){
    float: right;
}
section>input{
    width: 100%;
}